.first_block {
    background-image: url("../../../public/images/main_image.png");
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first_block div {
    margin-bottom: 34px;
    text-align: center;
    color: #FFFFFF;
}

.first_block div:nth-child(2) {
    font-size: 48px;
    line-height: 52.8px;
}

.about_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 410px;
    background-color: #FAF8F0;
}

.orange_line {
    width: 42px;
    height: 8px;
    background-color: #E08631;
}

.about_text {
    margin-top: 33px;
    display: flex;
    line-height: 20px;
    color: #333333;
}

.about_text div {
    width: 360px;
}
.about_text div:nth-child(1) {
    padding-right: 40px;
}

.book_btn {
    width: 107px;
    height: 42px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #52503B;
    color: #FFFFFF;
}

.text_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 568px;
    text-align: center;
}

.bold_text {
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    color: #52503B;
}

.kitchen_img {
    height: 600px;
    background-image: url("../../../public/images/kitchen.png");
}

.sleepingArrangements_block {
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #FAF8F0;
    color: #52503B;
}

.sleepingArrangements_header {
    font-size: 32px;
}

.sleepingArrangements_text {
    font-size: 16px;
}

.arrangements {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.sleepingArrangements_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    margin-right: 25px;
}

.bed_logo {
    width: 45.33px;
    height: 64px;
    background-image: url('../../../public/images/bed-Icon.png');
}

.door_logo {
    width: 45.33px;
    height: 64px;
    background-image: url('../../../public/images/door-Icon.png');
}

.shower_logo {
    width: 64px;
    height: 58.67px;
    background-image: url('../../../public/images/bath-Tub-Icon.png');
}

.benefits_block {
    display: flex;
    flex-direction: column;
    height: 726px;
    padding: 100px 136px;
    color: #52503B;
}

.benefits_header {
    font-size: 32px;
}

.benefits_text {
    font-size: 16px;
}

.benefits {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.benefits_about {
    display: flex;
    flex-direction: column;
}

.benefit_info {
    display: flex;
    align-items: center;
    margin-top: 42px;
}
.stove_icon {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    background-image: url('../../../public/images/stove-Icon.png');
}

.tree_icon {
    width: 36px;
    height: 28.5px;
    margin-right: 16px;
    background-image: url('../../../public/images/trees-Icon.png');
}

.cofee_icon {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    background-image: url('../../../public/images/coffee-Maker-Icon.png');
}

.forest_icon {
    width: 36px;
    height: 27px;
    margin-right: 16px;
    background-image: url('../../../public/images/forest-Icon.png');
}

.conditioner_icon {
    width: 36px;
    height: 18px;
    margin-right: 16px;
    background-image: url('../../../public/images/air-Conditioner-Icon.png');
}

.storage_icon {
    width: 36px;
    height: 33px;
    margin-right: 16px;
    background-image: url('../../../public/images/briefcase-Icon.png');
}

.glass_icon {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    background-image: url('../../../public/images/glass-Icon.png');
    background-repeat: no-repeat;
}

.pizza_icon {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    background-image: url('../../../public/images/pizza-Icon.png');
}