.first_block {
    background-image: url("../../../public/images/main_image.png");
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first_block div {
    margin-bottom: 34px;
    text-align: center;
    color: #FFFFFF;
}

.first_block div:nth-child(2) {
    font-size: 48px;
}